DJANGO_SECRET_KEY=change-me-in-production
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sigep_db
DB_USER=sigep
DB_PASSWORD=sigep_dev_password
# Utiliser "db" avec docker-compose, "localhost" en exécution locale directe
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000
